@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
	background: rgb(215,217,224);
    background: linear-gradient(270deg, rgba(215,217,224,1) 0%, rgba(185,189,193,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Inter', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}