<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhiteBank | Dashboard</title>
</head>
<body>
    <h1>Welcome Back!</h1>
    <!-- <nav class="sorter">
        <a href="/dashboard?sort=latest">Latest</a> |
        <a href="/dashboard?sort=oldest">Oldest</a> |
        <a href="/dashboard?sort=alpha">A-Z</a> |
        <a href="/dashboard?sort=reverse_alpha">Z-A</a>
    </nav> -->
    <!-- <table>
        <tr>
            <th>Bookmark ID</th>
            <th>Content</th>
            <th>Created At</th>
        </tr>
        {% for bookmark in bookmarks %}
        <tr>
            <td>{{ bookmark.id }}</td>
            <td>{{ bookmark.content }}</td>
            <td>{{ bookmark.created_at }}</td>
        </tr>
        {% endfor %}
    </table> -->
</body>
</html>